<launch>
    <arg name="arms" default="true"/>
    <arg name="legs" default="true"/>
    <arg name="velodyne" default="true"/>
    <arg name="realsense" default="true"/>
    <arg name="end_effector_left" default="ball"/>
    <arg name="end_effector_right" default="dagana"/>
    <arg name="battery" default="false"/>
    <arg name="xbot2_config" default="$(find centauro_config)/centauro_basic.yaml"/>

    <arg name="rviz" default="true"/>
    <arg name="gazebo" default="true"/>

    <arg name="xbot" default="true" />


    <param name="/robot_description"
         command="$(find xacro)/xacro $(find centauro_urdf)/urdf/centauro_robot.urdf.xacro floating_joint:=true battery:=$(arg battery) upper_body:=$(arg arms) legs:=$(arg legs) velodyne:=$(arg velodyne) realsense:=$(arg realsense) end_effector_left:=$(arg end_effector_left) end_effector_right:=$(arg end_effector_right)"/>

    <param name="/robot_description_semantic"
              command="$(find xacro)/xacro $(find centauro_srdf)/srdf/centauro.srdf.xacro floating_joint:=true upper_body:=$(arg arms) legs:=$(arg legs) velodyne:=$(arg velodyne) realsense:=$(arg realsense) end_effector_left:=$(arg end_effector_left) end_effector_right:=$(arg end_effector_right)"/>


    <node pkg="centauro_horizon" type="xbot2-core" name="xbot2" output="screen"
        args="--hw sim --simtime --config $(arg xbot2_config) --"/>

    <node pkg="centauro_horizon" type="centauro_slam.py" name="slam_node" output="screen">
        <rosparam param="closed_loop">False</rosparam>
    </node>

    <group if = "$(arg gazebo)">
        <include file="$(find centauro_gazebo)/launch/centauro_perception.launch" pass_all_args="true"/>
    </group>

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find centauro_horizon)/rviz/centauro.rviz"/>
    </group>


    <!-- Publish a static transform from world to pelvis -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_pelvis" 
          args="0 0 1 0 0 0 1 world pelvis" /> -->

</launch>

