<launch>

  <!-- Load the URDF/SRDF into the ROS Parameter Server -->
    <!-- visualization config -->
  <arg name="rviz"               default="true" />
  <arg name="gazebo"               default="true" />
  <arg name="xbot2_config" default="$(find centauro_config)/centauro_basic.yaml"/>
  <arg name="xbot" default="true" />

  <!-- parameter load  -->
  <param name="robot_description" textfile="$(find centauro_urdf)/urdf/centauro.urdf"/>
  <param name="robot_description_semantic" textfile="$(find centauro_srdf)/srdf/centauro.srdf"/>

  <node pkg="centauro_horizon" type="xbot2-core" name="xbot2" output="screen"
      args="--hw sim --simtime --config $(arg xbot2_config) --"/>

  <group if = "$(arg gazebo)">
      <include file="$(find centauro_gazebo)/launch/centauro_perception.launch" pass_all_args="true"/>
  </group>
  <!-- rviz -->

  <group if="$(arg rviz)">
      <node pkg="rviz" type="rviz" name="rviz" args="-d $(find centauro_horizon)/rviz/centauro.rviz"/>
  </group>

  <param name="problem_description_wheel"
          textfile="$(find centauro_horizon)/config/cartesio_stack_wheel.yaml"/> 


    <!--Test node-->
  <node pkg="centauro_horizon" name="centauro_nav_wheel" type="centauro_nav_wheel_node" output="screen"/>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_pelvis" 
        args="0 0 1 0 0 0 1 world pelvis" /> -->
</launch>

